aio-pika==9.5.5
fastapi==0.115.12
uvicorn==0.34.3
ultralytics==8.3.152
pillow==11.2.1
python-multipart==0.0.20
pydantic>=2.11.5
pydantic-settings>=2.9.1
pymilvus==2.4.15
grpcio-tools
typing-extensions
opencv-python~=4.11.0.86
numpy~=2.3.0
torch~=2.7.1
torchvision~=0.22.1