@using Microsoft.AspNetCore.Components.Authorization
@using LostAnimals.Web.Pages.Auth

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <text>Пожалуйста, подождите...</text>
                </Authorizing>
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated is true)
                    {
                        <p>Вы не авторизованы.</p>
                    }
                    else
                    {
                        <Login/>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Страница не найдена</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">По этому адресу ничего не найдено.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>